<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Targets.Sentry" />
  </extensions>
  
  <targets>
<!--    Log to file-->
    <target xsi:type="File" name="logfile"  fileName="${basedir}/logs/else.log" layout="${longdate} ${pad:padding=6:inner=${level:uppercase=true}}  ${message} ${exception:format=tostring}" />
<!--    Log to visual studio Output window-->
    <target xsi:type="Debugger" name="debugger" layout="${message} ${exception:format=tostring}"/>
<!--    Log to Sentry-->
    <target name="Sentry" type="Sentry" dsn="https://9527488b1ec5463cabca8c57c1624a1a:0e4746febcda48d4970c01d4b267813c@app.getsentry.com/41816" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" appendTo="Sentry" minLevel="Error" />
  </rules>
  
</nlog>